<module name="Checker">
    <module name="TreeWalker">
        <module name="JavadocMethod"/>
        <module name="JavadocType"/>
        <module name="JavadocVariable"/>
        <module name="JavadocPackage"/>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="Indentation"/>
        <module name="WhitespaceAround"/>
    </module>
</module>
